* {
  box-sizing: border-box;
}

body {
  font: 20px/1.5 freight-text-pro, serif;
  justify-content: center;
}

h1, h2, h3 {
  font-family: memoriampro, serif;
}

a {
  color: gold;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a[href="#"] {
  opacity: 0.1;
}

main {
  width: 100%;
  max-width: 60rem;
}

.index {
  overflow: hidden;
}

.index h1 {
  font-size: 6rem;
  font-weight: normal;
}

.index h1 span {
  font: 3em/1 memoriam-inline-pro, serif;
  opacity: 0.2;
}

.index-bg {
  background: url(../images/4666468116_793890d311_o.jpg) no-repeat center center;
  background-size: cover;
}

.index-bg .overlay {
  background: rgba(0, 0, 0, 0.9);
  justify-content: flex-end;
  align-items: flex-end;
}

.index-bg .attr a {
  color: inherit;
  opacity: 0.2;
}

.index > div {
}

.call-for {
  line-height: 1;
  font-size: 4rem;
  font-weight: 300;
  position: relative;
  transition: 0.2s all ease-in-out;
  transform: translateY(0);
}

.call-for:hover {
  color: black;
  transform: translateY(-5%);
}

.call-for::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: gold;
  transition: 0.2s all ease-in-out;
  opacity: 0;
  transform: scale(1.2) translateX(25%) rotate(5deg);
}

.call-for:hover::before {
  opacity: 1;
  transform: scale(1.2) translateX(0) rotate(0);
}
