* {
  box-sizing: border-box;
}

.gray { color: #616161; }
.red { color: #d14e4d; }
.flex { display: flex; flex-wrap: wrap; }
.row { width: 100% }
.col-75 { width: 75% }
.col-50 { width: 50% }
.col-25 { width: 25% }

body {
  font: 20px/1.5 museo-slab, serif;
  color: #333;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: museo-sans, sans-serif;
}

h2, h3, h4, h5 {
  font-weight: 100;
  color: #d14e4d;
}

a {
  color: #d14e4d;
  text-decoration: none;
}

a[href="#"] {
  color: silver;
}

img {
  max-width: 100%;
}

pre {
  font: inherit;
}

header {
  background: url(banner.png) no-repeat center top;
  background-attachment: fixed;
  background-size: contain;
  height: 33vw;
  padding: 1.5rem;
  position: relative;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 6rem;
}

h1 .red {
  font-size: 100%;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 0.2em;
  margin-left: 0.1em;
}

h1 .gray {
  font-size: 30%;
  font-weight: 100;
  letter-spacing: 0.8em;
  margin-left: 0.4em;
}

nav {
  padding: 0 1.5rem;
  min-height: 4rem;
}

nav ul {
  list-style: none;
  max-width: 60rem;
  padding: 0;
  margin: 0 auto;
  background: white;
  min-height: 4rem;
  align-items: stretch;
}

nav li {
  flex: 1 1 auto;
}

nav a {
  display: inline-block;
  background: white;
  line-height: 4rem;
  padding: 0 1.5rem;
  white-space: nowrap;
  transition: all ease-in-out 0.2s;
  text-align: center;
  width: 100%;
}

nav a:hover {
  text-decoration: underline;
}

nav a[href="#"]:hover {
  color: silver;
}

nav a.active {
  font-weight: bold;
}

.page {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1.5rem;
}

#about {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1.5rem;
}

#theme {
  max-width: 60rem;
  margin: 0 auto;
  padding: 1.5rem;
  align-items: center;
}

#venue {
  background: url(upcebu.jpg) no-repeat center bottom;
  background-size: cover;
  margin: 3rem 0;
  position: relative;
}

.venue-wrap {
  max-width: 80rem;
  margin: 0 auto;
  text-align: right;
}

.venue-text {
  display: inline-block;
  text-align: left;
  background: white;
  min-height: 100vh;
  padding: 0 3rem;
}

.venue-attrib {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: small;
  display: inline-block;
  margin: 1rem;
  padding: 0 0.5rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

#speakers {
  max-width: 40rem;
  margin: 3rem auto;
  background: url(girlandnoy.png) no-repeat center 3rem;
  background-size: 70%;
  padding: 33rem 1.5rem 1.5rem;
}

#speakers h2 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3rem;
}

.speaker img {
  border-radius: 50%;
}

.speaker-info {
  padding: 0 1.5rem;
}

.speaker-info h3 {
  margin-top: 0;
}

#sponsors {
  max-width: 40rem;
  margin: 0 auto;
  padding: 3rem 1.5rem;
  text-align: center;
}

#sponsors h2 {
  margin-bottom: 3rem;
}

.sponsors ul {
  list-style: none;
  padding: 0;
}

.sponsor {
  text-align: left;
  align-items: flex-start;
}

.sponsor h4 {
  line-height: 1;
  margin: 0;
}

.sponsor img {
  margin: 1.5rem 1.5rem 1.5rem -1.5rem;
}

footer {
  text-align: center;
  margin-top: 25vh;
  padding: 1.5rem;
}

@media (min-width: 600px) {
  .header-hidden nav ul {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

@media (max-width: 600px) {
  .col-75,
  .col-50,
  .col-25 {
    width: 100%;
  }
  h1 {
    font-size: 3rem;
  }
  .speaker img {
    max-width: 50%;
  }
  .sponsor img {
    margin: 1.5rem 0;
  }
}
