<!doctype html>
<meta charset="utf-8">
<script src="https://use.typekit.net/bmw2mzd.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
<link rel="stylesheet" href="{{ '/static/style.css'|asseturl }}">
<title>{% block title %}{{ this.title }}{% endblock %}</title>
<body>
  <header>
    <h1>
      <span class="red">pycon ph</span><br>
      <span class="gray">CEBU CITY 2016</span>
    </h1>
    <nav>
      <ul class="flex">
        <li><a href="/#about">About</a></li>
        <li><a href="/#theme">Theme</a></li>
        <li><a href="/#venue">Venue</a></li>
        <li><a href="/#speakers">Speakers</a></li>
        <li><a href="#">Schedule</a></li>
        <li><a href="#">Tickets</a></li>
        <li><a href="/#sponsors">Sponsors</a></li>
      </ul>
    </nav>
  </header>
  {% block body %}{% endblock %}
  <footer>
    Made with love by the volunteers of <a href="http://python.ph">Python.PH, Inc.</a><br>
    Illustrations by <a href="http://happygaraje.com/">Happy Garaje</a>
  </footer>
</body>
