<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="{{ this.title }}">
<meta property="og:url" content="{{ this|url(external=True) }}">
<meta property="og:description" content="PyCon Philippines is a volunteer-run, not-for-profit conference centered around the Python Programming language.">
<meta property="og:image" content="{{ '/static/og.jpg'|url(external=True) }}">
<script src="https://use.typekit.net/bmw2mzd.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');
fbq('init', '1012672582122319');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1012672582122319&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
<link rel="stylesheet" href="{{ '/static/style.css'|asseturl }}">
<title>{% block title %}{{ this.title }}{% endblock %}</title>
<body>
  <header>
    <h1 class="center">
      <div class="red">pycon ph</div>
      <div class="gray">CEBU CITY, FEBRUARY 27-28</div>
    </h1>
  </header>
  <nav data-gumshoe-header>
    <ul data-gumshoe class="flex">
      <li><a data-scroll href="/#about">About</a></li>
      <li><a data-scroll href="/#theme">Theme</a></li>
      <li><a data-scroll href="/#venue">Venue</a></li>
      <li><a data-scroll href="/#schedule">Schedule</a></li>
      <li><a data-scroll href="/#speakers">Speakers</a></li>
      <li><a data-scroll href="/#tickets">Tickets</a></li>
      <li><a data-scroll href="/#sponsors">Sponsors</a></li>
    </ul>
  </nav>
  {% block body %}{% endblock %}
  <footer class="center">
    Attendees are expected to follow our
    <a href="{{ '/code-of-conduct'|url }}">Code of Conduct</a><br>
    Organized by the volunteers of <a href="http://python.ph">Python.PH, Inc.</a><br>
    Illustrations by <a href="http://happygaraje.com/">Happy Garaje</a>
  </footer>
  {% block js %}
  <script src="{{ '/static/header.js'|asseturl }}"></script>
  {% endblock %}
</body>
