<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="{{ this.title }}">
<meta property="og:url" content="{{ this|url(external=True) }}">
<meta property="og:description" content="PyCon Philippines is a volunteer-run, not-for-profit conference centered around the Python Programming language.">
<meta property="og:image" content="{{ '/static/og.jpg'|url(external=True) }}">
<script src="https://use.typekit.net/bmw2mzd.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
<link rel="stylesheet" href="{{ '/static/style.css'|asseturl }}">
<title>{% block title %}{{ this.title }}{% endblock %}</title>
<body>
  <header>
    <h1>
      <div class="red">pycon ph</div>
      <div class="gray">CEBU CITY 2016</div>
    </h1>
  </header>
  <nav data-gumshoe-header>
    <ul data-gumshoe class="flex">
      <li><a data-scroll href="/#about">About</a></li>
      <li><a data-scroll href="/#theme">Theme</a></li>
      <li><a data-scroll href="/#venue">Venue</a></li>
      <li><a data-scroll href="/#speakers">Speakers</a></li>
      <li><a data-scroll href="#">Schedule</a></li>
      <li><a data-scroll href="/#tickets">Tickets</a></li>
      <li><a data-scroll href="/#sponsors">Sponsors</a></li>
    </ul>
  </nav>
  {% block body %}{% endblock %}
  <footer>
    Made with love by the volunteers of <a href="http://python.ph">Python.PH, Inc.</a><br>
    Illustrations by <a href="http://happygaraje.com/">Happy Garaje</a>
  </footer>
  {% block js %}
  <script src="{{ '/static/header.js'|asseturl }}"></script>
  {% endblock %}
</body>
