{% extends "layout.html" %}

{% block body %}
<div id="about">
  {{ this.about }}
</div>
<div id="theme" class="flex">
  <div class="col-50">
    <h2>Theme</h2>
    {{ this.theme }}
  </div>
  <div class="col-50">
    <img src="{{ '/static/superheroes.png'|asseturl }}">
  </div>
</div>
<div id="venue" class="flex">
  <div class="venue-map col-50">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1331.2525166230746!2d123.89851447194367!3d10.321936029441012!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a9993a38a7cbf1%3A0x5bda0ee47098c2f0!2sUniversity+of+The+Philippines!5e0!3m2!1sen!2s!4v1452094898213" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="venue-text col-50">
    <h2>Venue</h2>
    {{ this.venue }}
  </div>
</div>
<div id="schedule">
  <h2>Schedule</h2>
  <h3>Day 1</h3>
  <table class="row">
  {% for blk in this.schedule_day_1.blocks %}
    {{ blk }}
  {% endfor %}
  </table>
  <h3>Day 2</h3>
  <table class="row">
  {% for blk in this.schedule_day_2.blocks %}
    {{ blk }}
  {% endfor %}
  </table>
  <h3>Workshops</h3>
  <h4>Main Hall</h4>
  <table class="row">
  {% for blk in this.workshops_main.blocks %}
    {{ blk }}
  {% endfor %}
  </table>
  <h4>Room A</h4>
  <table class="row">
  {% for blk in this.workshops_room_a.blocks %}
    {{ blk }}
  {% endfor %}
  </table>
  <h4>Room B</h4>
  <table class="row">
  {% for blk in this.workshops_room_b.blocks %}
    {{ blk }}
  {% endfor %}
  </table>
</div>
<div id="speakers">
  <h2 class="center">Speakers</h2>
  <div class="flex flex-center">
  {% for blk in this.speakers.blocks %}
    {{ blk }}
  {% endfor %}
  </div>
</div>
<div id="tickets">
  <h2>Tickets</h2>
  <div
    data-tb="ticket-form"
    data-event="4703"
    data-headline='false'
  ></div>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://cdn.ticketbase.com/widgets/v0.1/ticketbase.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','ticketbase-wjs');</script>
</div>
<div id="sponsors" class="center">
  <h2>
    This event was made possible with the<br>
    help of our generous sponsors
  </h2>
  <h2>Gold Sponsors</h2>
  <ul>
    {% for blk in this.gold_sponsors.blocks %}
      {{ blk }}
    {% endfor %}
  </ul>
  <h2>Bronze Sponsors</h2>
  <ul>
    {% for blk in this.bronze_sponsors.blocks %}
      {{ blk }}
    {% endfor %}
  </ul>
  <h2>Marketing Partners</h2>
  <ul>
    {% for blk in this.marketing_partners.blocks %}
      {{ blk }}
    {% endfor %}
  </ul>
  <h2>Media Partners</h2>
  <ul>
    {% for blk in this.media_partners.blocks %}
      {{ blk }}
    {% endfor %}
  </ul>
  <p>
    Interested in sponsoring this event?
    Inquire at <a href="mailto:pycon@python.ph">pycon@python.ph</a>
  </p>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/smooth-scroll/7.1.1/js/smooth-scroll.min.js"></script>
<script src="{{ '/static/gumshoe.min.js'|asseturl }}"></script>
<script src="{{ '/static/bricks.min.js'|asseturl }}"></script>
<script src="{{ '/static/root.js'|asseturl }}"></script>
{% endblock %}
