{% extends "layout.html" %}

{% block body %}
<div id="about">
  {{ this.about }}
</div>
<div id="theme" class="flex">
  <div class="col-50">
    <h2>Theme</h2>
    {{ this.theme }}
  </div>
  <div class="col-50">
    <img src="{{ '/static/superheroes.png'|asseturl }}">
  </div>
</div>
<div id="venue">
  <div class="venue-wrap">
    <div class="venue-text">
      <h2>Venue</h2>
      {{ this.venue }}
    </div>
  </div>
  <a class="venue-attrib" href="https://www.flickr.com/photos/storm-crypt/2698275365/">
    Photo by Storm Crypt
  </a>
</div>
<div id="schedule">
  <h2>Schedule</h2>
  {{ this.schedule }}
</div>
<div id="speakers">
  <h2>Speakers</h2>
  {% for blk in this.speakers.blocks %}
    {{ blk }}
  {% endfor %}
</div>
<div id="tickets">
  <h2>Tickets</h2>
  <div
    data-tb="ticket-form"
    data-event="4703"
    data-headline='false'
  ></div>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://cdn.ticketbase.com/widgets/v0.1/ticketbase.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','ticketbase-wjs');</script>
</div>
<div id="sponsors">
  <h2>
    This event was made possible with the<br>
    help of our generous sponsors
  </h2>
  <h3>Gold Sponsors</h3>
  <ul>
    {% for blk in this.gold_sponsors.blocks %}
      {{ blk }}
    {% endfor %}
  </ul>
  <h3>Bronze Sponsors</h3>
  <ul>
    {% for blk in this.bronze_sponsors.blocks %}
      {{ blk }}
    {% endfor %}
  </ul>
  <p>
    Interested in sponsoring this event?
    Inquire at <a href="mailto:pycon@python.ph">pycon@python.ph</a>
  </p>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/smooth-scroll/7.1.1/js/smooth-scroll.min.js"></script>
<script src="{{ '/static/gumshoe.min.js'|asseturl }}"></script>
<script src="{{ '/static/root.js'|asseturl }}"></script>
{% endblock %}
